//@import 'compass';
@import 'reset';
@import 'variables';
@import 'functions';
@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
    -ms-border-radius: $radius;
        border-radius: $radius;
}
$white: white;
//html {background-color:#4183D7;}
span {font-size: 24px;}


a, a:hover {text-decoration: none;}
.icons {height:18px;vertical-align:bottom;}

header {
  width:60%;
  margin: 20px auto;

h1 {text-align: center;font-size: px2em(60);font-weight: 400;}
p {text-align: justify;font-size: px2em(18);}
}
.justify {text-align: justify;}

.p-header {margin:0;padding:0;background-color: #bdc3c7;@include border-radius(5px);}


.wrapper {
  width: 80%;
  height:230px;
  margin: 0 auto;
  padding-left: 20%;
  //border: 1px solid green;

}

.wrapper2 {
  width: 100%;
  margin: 0 auto;
padding-left: 20%;
}

.col-md-12 .wrapper2 {padding-left: 5%;}

.col-xs-4 .wrapper {width: 100%;padding-right:0;
  padding-left:0;}

.picture {width:18px; height:18px;margin-right: 5px;}
.margin {margin-top: 40px;}

pre {

      font-family: Courier New;
      font-size: 1em;
      @include border-radius(10px);
      background-color: #DEDEDE;
      padding: 10px;
      }

.home-picture {
  position: fixed;
  top: 20px;
  right: 20px;
}
#font-text-show {
  display:none;
}
#naming-show {
  display:none;
}

.blue {color:blue; cursor: pointer;}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /*background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.7);*/
    width: 50px;
    height: 50px;
    background-image: url(../images/up.png);
    display: block;
    text-decoration: none;
   /* -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;*/
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index:4;
}

#return-to-top:hover {
   bottom: 24px;
}
.wrapper-tuts {width:650px;margin:auto auto;}

footer {
  height: 50px;
  background-color: #3498db;
  margin-top: 30px;
}

.footer-tuts {margin-bottom:20px;}


@media(max-width:991px){

  header {width:80%;}
  .wrapper-tuts {width:60%;}
  pre {width:98%; padding: 5px;}


}

@media(max-width:767px){
  .wrapper {width:100%;}
  .wrapper-tuts {width:98%; padding: 5px 10px;}
  pre {width:98%; padding: 5px;}
  header {width:95%;
        h1 {font-size: 2.5em;}
      p {;font-size: 1.1em;}
  }
  .home-picture {top: 10px; right: 10px;}
  #return-to-top {bottom: 10px; right: 10px;}
}
