<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../sass/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <title>AngularJS</title>

    <style media="screen">

    p {margin:0; padding:0; text-align: justify;}


    </style>
    <!-- <script src="../js/highlighter.js"></script> -->
    <script>hljs.initHighlightingOnLoad();</script>
    </head>


  <body>
    <div class="wrapper-tuts">
    <a href="top:" id="return-to-top"></a>
    <a class="home-picture" href="../index.html"><img src="../images/home.png" alt="Home"></a>
  <h1>AngularJS</h1>
  <h3>Dependency Injection</h3>
  <p>Giving a function an Object, rather than creating an object inside a function,you pass it to the function.</p>
  <pre><code>var myApp = angular.module('myApp', []);

myApp.controller('mainController', function($scope) {

    $scope.name = 'Jane Doe';
    $scope.occupation = 'Coder';

    $scope.getname = function() {
      return 'John Doe';
    }
    console.log($scope);
});</code></pre>
<p>$scope - presents middle piece between the view and the controller, defines the data that comming back to view.</p>

<h3>Interpolation</h3>
<p>Creating a string by combining strings and placeholders. 'My name is' + name is interpolated, and results in 'My name is John'</p>
<pre><code>&ltdiv ng-controller="mainController">

  &lth1>Hello {{ name + '. How are you?' }}&lt/h1>

&lt/div></code></pre>

<h3>Digest Loop</h3>
<p>Watching and checking for changes.</p>
<p>Watchers - Keeping track of original value and the new value.</p>
<pre><code>
$scope.$watch('handle', function(newValue, oldValue) {

  console.info('Changed!');
  console.log('Old:' + oldValue);
  console.log('New:' + newValue);
});
</code></pre>
<p>Event loop doesnt effect to digest loop</p>
<p>we can do with $apply to tell angular that something changed</p>
<pre><code>
  $timeout(function() {
    $scope.$apply function {
      $scope.handle = 'newtwitterhandle';
      console.log('Scope changed!');
    }
  }, 3000);
</code></pre>
<p>$timeout service fix this problem</p>
<pre><code>
$timeout(function() {

  $scope.handle = 'newtwitterhandle';
  console.log('Scope changed!');

}, 3000);
</code></pre>

<h3>Directive</h3>
<p>An instruction to AngularJS to manipulate a piece of the DOM. This could be 'add a class', 'hide this', 'create this' ...</p>
<h3>Two way data binding</h3>
<p>Model change the view and then view change the model.</p>
<pre><code>var myApp = angular.module('myApp', []);

myApp.controller('mainController', ['$scope', '$filter', function($scope, $filter) {

  $scope.handle = '';

  $scope.lowercase = function() {
  	return $filter('lowercase')($scope.handle);
  };

}]);
 ----------------------------------------------------
 &ltdiv ng-controller="mainController">
   &ltdiv>
     &ltlabel>What is Your twitter handle?&lt/label>
     &ltinput type="text" ng-model="handle">
   &lt/div>
   &lt/hr>
   &lth1>twitter.com/{{ lowercase(); }}&lt/h1>
 &lt/div></code></pre>

<pre><code>
// js //
var myApp = angular.module('myApp', []);
myApp.controller('mainController', ['$scope', '$filter', function($scope, $filter) {

    $scope.handle = '';
    $scope.lowercasehandle = function() {
      return $filter('lowercase')($scope.handle);
    };

    $scope.characters = 5;

    $scope.rules = [
      { rulename: "Must be 5 characters" },
      { rulename: "Must not be used elsewhere" },
      { rulename: "Must be cool" }
    ];

    console.log($scope.rules);
}]);
-----------------------------------------------
// html //
&ltdiv ng-controller="mainController">
 &ltdiv>
   &ltlabel>What is your twitter handle?&lt/label>
   &ltinput type="text" ng-model="handle" />
 &lt/div>

 &ltdiv class="alert" ng-class="{ 'alert-warning': handle.length < characters, 'alert-danger': handle.length > characters }" ng-if="handle.length !== characters">

   &ltdiv ng-show="handle.length < characters">
     You have less than 5 characters!
   &lt/div>
   &ltdiv ng-show="handle.length > characters">
     You have more than 5 characters!
   &lt/div>

 &lt/div>

 &lthr />

 &lth1>twitter.com/{{ lowercasehandle() }}&lt/h1>

 &lth3>Rules&lt/h3>
 &ltul>
   &ltli ng-repeat="rule in rules">
     {{ rule.rulename }}
   &lt/li>
 &lt/ul>
&lt/div>
</code></pre>
<h3>$http service - get and set data to the server</h3>
<pre><code>$http.get('/api')
  .success(function (result) {
    $scope.rules = result;
  })
  .error(function (data, status) {
    console.log(data);
  });

$scope.newRule = '';
$scope.addRule = function () {
  $http.post('/api', { newRule: $scope.newRule })
    .success(function (result) {
      console.log(result);
      $scope.rules = result;
      $scope.newRule = '';
    })
    .error(function (data, status) {
      console.log(data);
    });
};
// html //
&ltul>
  &ltli ng-repeat="rule in rules">
    {{ rule.RuleName }}
  &lt/li>
&lt/ul>
</code></pre>
<h3>Single page and hash</h3>
<p>fragment identifier # - fundamental key for SPA</p>
<pre><code>&lta href="#bookmark">Go To Bookmark&lta>
</code></pre>
<pre><code>window.addEventListener('hashchange', function() {
  if (window.location.hash === '#/bookmark/1') {
    console.log('Page 1 is cool.');
  }
  if (window.location.hash === '#/bookmark/2') {
    console.log('Let me go get Page 2.');
  }
  if (window.location.hash === '#/bookmark/3') {
    console.log('Here\'s Page 3.');
  }
});
</code></pre>
<h3>Routing, Templates and Controllers</h3>
<p>Downloading a piece of page that we need at that moment</p>
<p>ng-view - presents templates</p>
<pre><code>var myApp = angular.module('myApp', ['ngRoute']);

myApp.config(function ($routeProvider) {

  $routeProvider
    .when('/', {
        templateUrl: 'pages/main.html',
        controller: 'mainController'
    })
    .when('/second', {
      templateUrl: 'pages/second.html',
      controller: 'secondController'
    })
    .when('/second/:num', {
      templateUrl: 'pages/second.html',
      controller: 'secondController'
    })
});
</code></pre>
<p>$routeParams - matching pattern after ' : '</p>
<pre><code>.when('/second/<strong>:num</strong>', {
  templateUrl: 'pages/second.html',
  controller: 'secondController'
  })

myApp.controller('secondController', ['$scope', '$log', '$routeParams', function($scope, $log, $routeParams) {
  $scope.num = $routeParams.num || 1;
</code></pre>

<h3>Singleton</h3>
<p>The one and only copy of an object</p>
<p>AngulaJS services are implemented as singletons, except $scope.</p>
<p>We can create service, singelton, a piece functionality or some data that we can share accros the pages.</p>

<h3>Create a Service</h3>
<p>Service is attached to myApp and contains name and function that hold objects, method and properties.</p>
<pre><code>myApp.service('nameService', function() {
	var self = this;
	this.name = 'John Doe';
	this.namelength = function() {
		return self.name.length;
	};
});
</code></pre>
<h3>When we navigate page to page we are still inside the same javascript memory space.</h3>
<p>we have all the variables, content and values even after navigate. Share content accross pages.</p>
<pre><code>myApp.service('nameService', function() {
	var self = this;
	this.name = 'John Doe';
	this.namelength = function() {
		return self.name.length;
	};
});

myApp.controller('mainController', ['$scope', '$log', 'nameService', function($scope, $log, nameService) {
	$scope.name = nameService.name;
	$scope.$watch('name', function() {
		nameService.name = $scope.name;
	});
	$log.log(nameService.name);
	$log.log(nameService.namelength());
}]);
</pre></code>
<h3>Normalize</h3>
<p>To make consistent to a standard</p>
<p>Text normalization - making strings of text consistent to a standard</p>
<pre><code>// html
learn-and-understand
// js
learnAndUnderstand
</code></pre>

<h3>Directive</h3>
<pre><code>// html
&ltsearch-result>&lt/search-result> // E - ellement
&ltdiv search-result>&lt/div> // A - attribute
&ltdiv class="search-result">&lt/div> // C - class
<-- directive: search-result --> // M - comment
// js
myApp.directive("searchResult", function() {
 return {
   restrict: 'AECM', // AE is default
   template: '&lta href="#" class="list-group-item">&lth4 class="list-group-item-heading">Doe, John&lt/h4>&ltp class="list-group-item-text">555 Main St., New York, NY 11111&lt/p>&lt/a>',
   // templateUrl: 'path/search.html'
   replace: true
 }
});
</code></pre>
<h3>Directive - Isolated Scope</h3>
<p>Empty object scope isolate main scope, to prevent chaning scope accidentally from the directives.</p>
<pre><code>
myApp.directive("searchResult", function() {
 return {
   restrict: 'AECM', // AE is default
   templateUrl: 'path/search.html'
   replace: true
   scope: {
     personName: "@" // text
     personObject: "=" // two way binding, can pass object
     formattedAddressFunction: "&" // function
   }
 }
});
// main.html
&ltsearch-result person-name="{{ person.name }}">&lt/search-result>
&ltsearch-result person-object="{{ person }} formatted-address-function="formattedAddress(aperson)"">&lt/search-result>

// search.html
&lth4 class="list-group-item-heading">{{ personName }}&lt/h4>
&lth4 class="list-group-item-heading">{{ personObject.name }}&lt/h4>
&ltp class="list-group-item-text">
  {{ formattedAddressFunction({ aperson: personObject }) }}
&lt/p>
</code></pre>
<h3>Compile & link - Directives</h3>
<p>Control and cange directive, its placed inside directive</p>
<pre><code>...
  link: function(scope, elements, attrs) {
  console.log('Linking...');
  console.log(scope);

  if (scope.personObject.name == 'Jane Doe') {
    elements.removeAttr('class');
  }
  console.log(elements);
}
</code></pre>
<h3>Translusion</h3>
<p>Include one document inside another, place a copy of one document at a particular point inside another.</p>
<p>If we put something inside element (custom, directive element), whole is replaced and override it.</p>
<p>we use ng-translcude inside template</p>
<pre><code>
&ltsmall ng-transclude>&lt/small>
</code></pre>

<br>
    <div class="footer-tuts">
    | <a href="https://docs.angularjs.org/api">Reference</a> |
    | <a href="https://www.youtube.com/watch?v=ejBkOjEG6F0" target="_blank"><img class="icons" src="../images/youtube.png" alt="youtube" /></a> |
  </div>

</div>
  </body>
  <script src="../js/scroll.js"></script>
</html>
