html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 100%;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.6.3");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.wrapper-tuts {
  width: 650px;
  margin: auto auto;
}

.p-header {
  margin: 0;
  padding: 0;
  background-color: #bdc3c7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.blue {
  color: blue;
  cursor: pointer;
}

pre {
  font-family: Courier New;
  font-size: 1em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  background-color: #DEDEDE;
  padding: 10px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  white-space: pre\9;
}

.home-picture {
  position: absolute;
  top: 20px;
  right: 20px;
}

.icons {
  height: 18px;
  vertical-align: bottom;
}

#font-text-show {
  display: none;
}

#naming-show {
  display: none;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-image: url(../images/up.png);
  display: block;
  text-decoration: none;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 4;
}

#return-to-top:hover {
  bottom: 24px;
}

.footer-tuts {
  margin-bottom: 20px;
}

.relative {
  min-height: 100%;
  position: relative;
}

p {
  font-size: 1em;
}

header {
  width: 60%;
  margin: 20px auto;
}
header h1 {
  text-align: center;
  font-size: 3.75em;
  font-weight: 400;
}
header p {
  font-size: 1.125em;
  text-align: justify;
}

.tools-margin {
  margin-bottom: 20px;
}

.margin {
  margin-top: 30px;
}

.bookmarks {
  padding: 20px;
}

.wrapper {
  width: 80%;
  min-height: 240px;
  margin: 0 auto;
  padding-left: 20%;
}

.referencing {
  height: 240px;
}

.atom {
  height: 330px;
}

.picture {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #3498db;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-icons {
  text-align: center;
  vertical-align: middle;
  font-family: 'FontAwesome';
  font-size: 3em;
  color: white;
}
.footer-icons a:link, .footer-icons a:visited, .footer-icons a:hover, .footer-icons a:active {
  color: white;
}

@media (max-width: 991px) {
  header {
    width: 80%;
  }

  .margin-small {
    margin-bottom: -60px;
  }

  .wrapper-tuts {
    width: 60%;
  }

  pre {
    width: 98%;
    padding: 5px;
  }
}
@media (max-width: 767px) {
  .margin {
    margin-top: 5px;
  }

  .wrapper {
    width: 95%;
    padding-left: 5px;
  }
  .wrapper h2 {
    font-size: 1.2em;
  }

  .margin-small {
    margin-bottom: -60px;
  }

  .atom {
    height: 380px;
  }

  .wrapper-tuts {
    width: 94%;
    padding: 5px 10px;
  }

  pre {
    width: 98%;
    padding: 5px;
  }

  header {
    width: 95%;
  }
  header h1 {
    font-size: 2.5em;
  }
  header p {
    font-size: 1.1em;
  }

  .home-picture {
    top: 10px;
    right: 1px;
  }

  #return-to-top {
    bottom: 10px;
    right: 1px;
  }
}
